<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Cliente<span class="caret"></span></a>
    <ul class="dropdown-menu" aria-labelledby="themes">
        <li><a href="@Url.Action("index", "cliente")">Lista de cliente</a></li>
        <li class="divider"></li>
        <li><a href="@Url.Action("create", "cliente")">Cadastre o cliente</a></li>
    </ul>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Fornecedor<span class="caret"></span></a>
    <ul class="dropdown-menu" aria-labelledby="themes">
        <li><a href="@Url.Action("index", "fornecedor")">Lista de Fornecedores</a></li>
        <li class="divider"></li>
        <li><a href="@Url.Action("create", "fornecedor")">Novo Fornecedor</a></li>
    </ul>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Usuario<span class="caret"></span></a>
    <ul class="dropdown-menu" aria-labelledby="themes">
        <li><a href="@Url.Action("index", "usuario")">Lista de Usuario</a></li>
        <li class="divider"></li>
        <li><a href="@Url.Action("create", "usuario")">Novo Usuario</a></li>
    </ul>
</li>
